:root {
    --bs-yellow: #ffc107;
    --bs-orange: #fd7e14;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-black: #000;
    --bs-white: #fff;
  }

/* Add style to the skip links */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Add style to the items of skip links */
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  /* Add style to the skip links */
  .skip-links a:focus{
    top: 5px;
  }
  .home-page{
    width: 100%;
  }
/* Set specific background for each page*/
.home-page .navbar, footer{
    width: 100%;
    background-color: #F5D61A;
}
.services-page .navbar, footer{
    background-color: #ED7409;
}
.about-page .navbar, footer{
    background-color: #D63440;
}
.creative-page .navbar, footer{
    background-color: #607FCC;
}
.contact-page .navbar, footer{
    background-color: #E89C1D;
}

/* Set heading 1*/
h1{
    font-family: 'Archivo Black', sans-serif;
    text-transform:uppercase;
}
/* Set heading 2 and 3*/
h2, h3, h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
/* Set font of the paragraphs*/
p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.container-fluid{
    width: 100%;
}
/*  set text, font, and size of the menu navigation*/
nav li a{
    text-transform:uppercase;
    font-weight: bold;
    font-size: 2rem;
}
.logo{
    width: auto;
    height: 200px;
    padding: 40px;
    margin-left: 0;
    text-align: left;
    position: relative;
    right: 50px;;
    
}
.about-container, .services-container, .creative-container{
    padding: 25px;
    margin-bottom: 40px;
}

/********************** Mobile*******************************************/
@media screen and (max-width: 480px){
h1{
    font-size: 2rem;
}
/* the menu items will appear in the middle of the screen*/
nav li a{
    text-align: center;
    border: none;
}

.banner{
    display: none;
}

/* Home*/
/* */

.about-text p{
    position: relative;
    top:320px;
    text-align: left;

}
.about-img{
    width: 100%;
    height: 250px;
    margin-top:0%;
}
.services-container{
    width: 100%;
}
.services-box{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    
}
.digital, .ux, .photography, .videography, .wallpaper{
    padding:5px;
    text-align: center;
}
.services-box img{
    padding: 10px;
    width: 90%;
    height: 180px;
    line-height: 15px;
    font-size: 5px;
    
}

.creative-container{
    margin-top: 0%;
    margin-left: 15px;
}

.carousel-item img{
    width: 98%;
    height: 230px;
    opacity: 0.9;
}

.container-social-media .row{
    display: inline-flex;
    font-size: 1.5rem;
}
.container-social-media i{
    color: var(--bs-black);
    }

.contact-box{
    margin-left: 15px;
    position: relative;
    left: 85px;
    bottom: 30px;
}
.contact-box p{
    font-size: 12px;
    font-weight: bold;
    color: var(--bs-black);
}
.contact-box h4{
    color: var(--bs-black);
}

/*Services*/

.services-content{
    margin: 15px;
}
.services-content img{
    display: none;
}
.services-content h2,h3{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.services-content h2{
    font-size: 2rem;
    font-weight: bold;
}
.services-content h3{
    font-size: 1.5rem;
    color:#F5D61A;
    font-weight: 900;
}
.text-digital{
    position: relative;
    right: 120px;
}
.text-video{
    position: relative;
    left: 100px;
}
.text-pht{
    position:relative;
    right:90px;
}
.text-digital, .text-video, .text-pht{
    width: 100%;
}
.services-content h3:last-child{
    color:#D5B722;
}

/*Creative*/
.multimedia-box h2, .sound-motion-box h2{
    text-align: center;
}
.img-ma, .img-sound{
    margin: 30px;
    padding: 15px;
}

.img-sound img{
    width: 100%;
    height: 250px;
    margin: 10px;    
}

.img-ma img{
    width: 100%;
    height: 250px;
    margin: 10px;    
}

.img-ma img:hover, .img-sound img:hover {
    opacity: 0.7;
  }

/*Contact*/

form{
    background-color: var(--bs-black);
    padding: 30px;
}
.contact-form{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 40px;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="text"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px 'Poppins', sans-serif;
}
form button[type="submit"] {
    cursor: pointer;
    border: none;
    background: #f0f5f0;
    color: var(--bs-black);
    margin: 10px;
    padding: 10px;
    font-size: 15px;
  }
  #contact-form button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
 #contact-form input:focus,
#contact-form textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#contact-submit{
    color: var(--bs-black);
}

form h2,label{
    color: var(--bs-white);
}
.form-row{
    padding:10px;
}

}


/* Adding a media-query for 1200px and above */
@media screen and (min-width: 900px) and (max-width: 1200px){

    /*Home*/
 .banner{
    width: 100%;
 }
 .banner img{
    width: 100%;
    height: 320px;
}
 /* About section*/
.about-container{
        padding: 30px;
        margin-bottom: 30px;    
}
.img-box img{
    width: 100%;
    height: 450px;
}
.about-text h2{
    margin-top: 30%;
    margin-left: 10%;
}
h2{
    font-size: 4rem;
}

.text-center{
    margin-top: 10%;
    text-align: justify;
}

 /* Services section*/
.services-container h2{
    position: relative;
    left: 50%;
}

.services-box{
    margin: 10px;
    padding: 20px;
}

 /* Creative section*/

.carousel-inner{
    width: 100%;
    height:600px;
}

.carousel-inner img{
    width: 100%;
    height: 500px;
}
        
}





    